<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規プロトタイプ投稿</h2>
        <%# 部分テンプレートでフォームを表示する %>
        <%= render partial: "form" %> <%#, locals: { tweet(変数): tweet(変数の中身) }  ←render先で変数を使用したいときはくっつける%>
    </div>
  </div>
</div>